/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/** Image - https://www.w3schools.com/css/css_rwd_grid.asp **/
img {
    max-width: 100%;
    height: auto;
}

/** Overflow (for tables) - https://www.w3schools.com/howto/howto_css_table_responsive.asp **/
.overflow {
    overflow-x: auto;
}

/** Custom CSS Below **/

#body1 {
    background-color: #048230;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    border: 5px solid darkgray;
}

#body2 {
    background-color: #048282;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    border: 5px solid darkgray;
}

#body3 {
    background-color: #042482;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    border: 5px solid darkgray;
}

#body4 {
    background-color: #690482;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    border: 5px solid darkgray;
}

#body5 {
    background-color: #825604;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    border: 5px solid darkgray;
}

#body6 {
    background-color: #820404;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-style: italic;
    border: 5px solid darkgray;
}

#boxDecoration1 {
    background-color: #216f04;
    border: 2px solid lightgray;
    box-shadow: 2px 2px darkgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

#boxDecoration1Alt {
    background-color: #216f04;
    border: 2px solid lightgray;
    box-shadow: 2px 2px darkgray;
    padding: 5px;
    margin: 2px;
    width: fit-content;
    font-size: 20px;
}

#boxDecoration2 {
    background-color: #046f6f;
    border: 2px solid lightgray;
    box-shadow: 2px 2px darkgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

#boxDecoration2Alt {
    background-color: #046f6f;
    border: 2px solid lightgray;
    box-shadow: 2px 2px darkgray;
    padding: 5px;
    margin: 2px;
    width: fit-content;
    font-size: 20px;
}

#boxDecoration3 {
    background-color: #04316f;
    border: 2px solid rgb(211, 211, 211);
    box-shadow: 2px 2px darkgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

#boxDecoration3Alt {
    background-color: #04316f;
    border: 2px solid lightgray;
    box-shadow: 2px 2px darkgray;
    padding: 5px;
    margin: 2px;
    width: fit-content;
    font-size: 20px;
}

#boxDecoration4 {
    background-color: #49046f;
    border: 2px solid rgb(211, 211, 211);
    box-shadow: 2px 2px darkgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

#boxDecoration4Alt {
    background-color: #49046f;
    border: 2px solid lightgray;
    box-shadow: 2px 2px darkgray;
    padding: 5px;
    margin: 2px;
    width: fit-content;
    font-size: 20px;
}

#boxDecoration5 {
    background-color: #6f5104;
    border: 2px solid rgb(211, 211, 211);
    box-shadow: 2px 2px darkgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

#boxDecoration5Alt {
    background-color: #6f5104;
    border: 2px solid lightgray;
    box-shadow: 2px 2px darkgray;
    padding: 5px;
    margin: 2px;
    width: fit-content;
    font-size: 20px;
}

#boxDecoration6 {
    background-color: #6f0404;
    border: 2px solid rgb(211, 211, 211);
    box-shadow: 2px 2px darkgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

#boxDecoration6Alt {
    background-color: #6f0404;
    border: 2px solid lightgray;
    box-shadow: 2px 2px darkgray;
    padding: 5px;
    margin: 2px;
    width: fit-content;
    font-size: 20px;
}

#classes1 {
    background-color: #046f6f;
    border: 2px solid lightgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

#classes2 {
    background-color: #04316f;
    border: 2px solid lightgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

#classes3 {
    background-color: #49046f;
    border: 2px solid lightgray;
    margin: 2px;
    padding: 5px;
    font-size: 20px;
}

th {
    width: 14%;
}

#songTitle-error, #albumTitle-error, #genre-error, #artist-error, #songRelease-error, #songLength-error, #rating-error, #file-error {
    color: red;
    padding: 5px;
}

#invalid-form {
    background-image: linear-gradient(#2236ea, #111b76);
    border: 2px dotted goldenrod;
    color: red;
    padding: 2px;
}

#success-form {
    background-image: linear-gradient(#2236ea, #111b76);
    border: 2px dotted white;
    color: white;
    padding: 2px;
}

#delete {
    background-color: red;
    width: 175px;
}

#return {
    width: 175px;
}

#smallWord {
    font-size: medium;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
    background-color: lightgray;
    margin: 3px;
    padding: 3px;
    font-size: 20px;
}

#liDecor {
    border: 2px solid darkgray;
    box-shadow: 1.5px 1.5px black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

    li a:hover {
        background-color: darkgray;
    }

h1 {
    color: black;
    margin: 1px;
    padding: 1px;
    font-family: fantasy;
    text-decoration: underline;
}

h2 {
    margin: 1px;
    padding: 1px;
    font-family: fantasy;
}

a {
    color: white;
}

#line {
    border: 2px solid darkgray;
}

th, td {
    border-bottom: 2px dashed;
}
